.post-container {
	background: #ffffff;
	display: flex;
	flex-direction: column;
	padding: 1%;
	margin: 2%;
}
.heading {
	height: 20px;
	text-align: center;
	display: flex;
	align-items: center;
}
.image {
    align-content: center;
	width: 60%;
	height: 240px;

}
